body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #17ca4440;
  color: #222;
}

header {
  border-collapse: collapse;
  border-radius: 20px;
  margin: 0;
  background: linear-gradient(to left, #0552e2, #ac7ef6e8);
  color: #fff;
  padding: 20px;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
  width: 100%; /* <<< ważne */
  box-sizing: border-box;
}

.akapit {
  text-indent: 20px;
}

.nav-links {
  text-align: left;
  display: flex;
  gap: 60px;
  flex-wrap: wrap; /* <<< to jest kluczowe */
}

.section {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  margin-bottom: 25px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.btn,
.btn-back {
  background: #2e7d32;
  color: #fff;
  padding: 12px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  margin-top: 20px;
}

/* LIGHTBOX */
.lightbox {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.4s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 12px;
  animation: zoomIn 0.3s ease;
}

@keyframes zoomIn {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.close {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 50px;
  color: #fff;
  cursor: pointer;
}

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: #fff;
  font-size: 40px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
}

.prev {
  left: 20px;
}
.next {
  right: 20px;
}

/* Reveal animation */
.reveal {
  padding: 20px;
  border-radius: 12px;
  background: #2199e9af;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}
